:root {
  --green: #5ed68a;
  --red: #1ea6c8;
  --background: #fafafa;
  --gradient-1: #343e63;
  --gradient-2: #2a3352;
}

html {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 12px;
  font-weight: 300;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(30deg, #000000, #599be7);
}

main {
  text-align: center;
  background: var(--background);
  border: 8px solid rgb(107, 169, 228);
  border-radius: 2rem;
  padding: 4rem;
  color: #1f2933;
  width: 90vw;
  max-width: 700px;
}

h2 {
  font-size: 3.2rem;
  margin: 2rem;
}

p {
  font-size: 1.8rem;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
}

button {
  border: none;
  cursor: pointer;
  background: var(--green);
  padding: 2rem 6rem;
  border-radius: 1rem 1rem 0 0;
  font-size: 1.4rem;
}

button:last-child {
  background: var(--red);
  border-radius: 0 0 1rem 1rem;
}

h3 {
  font-size: 2rem;
}

input {
  border: 2px solid lightgray;
  background: transparent;
  margin: 2rem 0;
  padding: 1rem 0;
  width: 25rem;
  text-align: center;
  font-size: 2rem;
}

.stats {
  text-align: left;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info span {
  font-size: 1.6rem;
}

#novoJogoBotao {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background: rgb(129, 183, 233);
  border-radius: 20px;
  border: 2px solid rgb(0, 0, 0);
}